@import "tailwindcss";
@plugin "daisyui";

.main{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  color: #444444;
}
.container{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  color: #444444;

}
h2{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  color: #444444;
}
input{
  display: flex;
  justify-items: center;
  align-items: center;
  width: 30%;
  margin-left: 30%;
  font-size: 20px;
  color: #444444;
}
